/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/
/vendor/bundle/
/vendor/cache/
/vendor/assets/
.bundle/
/yarn-error.log
/node_modules/
/.ruby-lsp/
/.solargraph.yml
/Gemfile.lock

.aux/
.docs/

.vscode/
.cursor/
.claude/

TODO

dist/
