name: Ruby

on:
  pull_request:
    paths-ignore:
      - "README.md"
  push:
    paths-ignore:
      - "README.md"
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rails_version: ["7.0", "7.1.0", "7.2.2", "8.0.1", "8.1.0"]
        ruby_version: ["3.1", "3.2", "3.3", "3.4"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
        env:
          RAILS_VERSION: ${{ matrix.rails_version }}
      - name: Run tests
        run: bundle exec rake test
        env:
          RAILS_VERSION: "${{ matrix.rails_version }}"
